.img {
    border: 2px solid;
}

#divMain {
    display:flex;
}

.color {
    width: 50px; 
    height: 50px;
}

canvas {
    display: flex;
    margin: auto;
}

#chosenColor {
    height: 50px;
    background-color: rgb(200, 200, 200);
    border: solid 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}


